button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

button:hover {
    cursor: pointer;
}

.wraper {
    background-color: black;
    border-radius: 1em;
    padding: 1em;
}

.element-3, .element-7, .element-11, .element-15 {
    background-color: #FF9500;
    color: white;
}