button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 2em;
    margin: 0.3em;
}

button:hover {
    cursor: pointer;
}

.wraper {
    background-color: black;
    border-radius: 1em;
    padding: 1em;
}

.element-3, .element-7, .element-11, .element-15 {
    background-color: #FF9500;
    color: white;
}

.element-4, .element-5, .element-6, .element-8, 
.element-9, .element-10, .element-12, .element-13, 
.element-14, .element-16, .element-17 {
    background-color: #505050;
    color: white;
}

.element-0, .element-1, .element-2, .element-18 {
    color: black;
}

.element-16 {
    width: 6em;
    text-align: left;
    padding-left: 1.2em;
}

.result {
    color: white;
    text-align: right;
    margin-right: 0.8em;
    font-weight: 300;
    font-size: 3.5em;
}

@media screen and (max-width: 410px) { 
    button {
        width: 2.2em;
        height: 2.2em;
        font-size: 1.5em;
        border: none;
        border-radius: 2em;
        margin: 0.3em;
    }

    .element-16 {
        width: 4.4em;
        height: 2.2em;
        text-align: left;
        padding-left: 1.2em;
    }
}